html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #E8EAE3;
}


#mainNavbar .nav-link {
    color: #6e7c85;
}

#mainNavbar .nav-link.active {
    color: #444E61 !important;
}

#mainNavbar .nav-link:hover {
    color: #99aabb;
}

.harbor-logo {
    margin-top: 1em;
}

#home h1 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #444E61;
    letter-spacing: -0.08em;
    font-size: 8em;
}

#home h2 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: #444E61;
    letter-spacing: -0.08em;
    font-size: 9em;
}

#home h3 {
    font-family: "Helvetica";
    font-size: 3em;
    margin-bottom: -0.5em;
    margin-top: 1.5em;
}

.highlight {
    color: #757C77;
}

.style-guide {
    width: 1400px;
    height: 909px;
}

footer {
    font-family: "Helvetica";
    color: #3e444b;
}

@media (max-width: 1024px) {
    #home h1 {
        font-size: 5em;
    }

    #home h2 {
        font-size: 6em;
    }
}

/* tablets */
@media (max-width: 768px) {
    #home h1 {
        font-size: 4.5em;
    }

    #home h2 {
        font-size: 5.5em;
    }
}